<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFX5VGUkPoZj79M81WaDVmMW9pmJIRS24</string>
	<key>GCM_SENDER_ID</key>
	<string>296785568208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splashPractices.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>peace-aeb6c</string>
	<key>STORAGE_BUCKET</key>
	<string>peace-aeb6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296785568208:ios:ce7d9ff2280d4d0e4059d5</string>
	<key>DATABASE_URL</key>
	<string>https://peace-aeb6c-default-rtdb.firebaseio.com</string>
</dict>
</plist>